@charset "UTF-8";

html, body {
  animation: all 1s ease;
  background: #f8f8f8;
}

.more {
  width: 114px;
  height: 193px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-top: 45px;
  cursor: pointer;
  overflow: hidden;

  i {
    font-size: 18px;
    display: block;
    transition: all 800ms cubic-bezier(0.785,0.135,0.150,0.860);
  }

  span {
    transition: all 1s cubic-bezier(0.785,0.135,0.150,0.860);
    display: block;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    background: #333;
    transition:all 600ms cubic-bezier(0.785,0.135,0.150,0.860);
  }

  &:hover span {
    opacity: 0;
    transform: translateY(-30px);
  }

  &:hover .jia {
    transform: translateY(-35px);
  }

  &:hover::before{
    top: 0;
  }
}

.section1 {
  position: relative;
  width: 100%;
  height: 1.2rem;

  .head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 1s ease;
    background: #fff;
    padding: 0 80px;

    .logo {
      float: left;
      height: 1.2rem;
      display: flex;
      align-items: flex-end;
      transition: all 1s ease;
      h1 {
        position: absolute;
        top: 0;
        text-indent: -9999px;
      }
      a {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        img {
          width: 80%;
        }
      }
    }
    .nav {
      height: auto;
      float: right;

      li {
        float: left;
        height: 1.2rem;
        display: flex;
        align-items: flex-end;
        transition: all 1s ease;

        a {
          padding-left: 12px;
          padding-right: 12px;
          color: #000;
          font-size: 20px;

          &:hover {
            color: #f26532;
          }
        }
      }
    }
  }
}

.section {
  position: relative;
  width: 100%;

  .lump {
    position: absolute;
    width: 100%;
    height: 100%;

    .spotting {
      width: 2400px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;

    .spotting {
      width: 2400px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.section2 {
  height: 860px;

  .lump {

    .spotting {

      .yellowLump {
        width: 350px;
        height: 600px;
        background: #faa635;
        position: absolute;
        top: 227px;
        left: 0;
      }
      .grayLump {
        width: 400px;
        height: 600px;
        background: #d9d9d9;
        position: absolute;
        top: 117px;
        left: 320px;
      }
      .two_1 {
        position: absolute;
        top: 32px;
        left: 1135px;
      }
      .two_2 {
        position: absolute;
        top: 140px;
        right: 0;
      }
    }
  }

  .content {

    .spotting {

      .describe {
        position: absolute;
        top: 210px;
        left: 510px;
        width: 535px;

        h2 {
          font-size: 62px;
          color: #f06f43;
        }
        span {
          font-size: 45px;
          color: #f06f43;
        }
        p {
          font-size: 24px;
          color: #58585a;
        }
      }
    }
  }
}

.section3 {
  height: 1500px;

  .lump {

    .spotting {

      .headline {
        position: absolute;
        top: 135px;
        left: 280px;
        width: 40px;
        font-size: 50px;
        font-weight: 500;
        color: #f26532;
        transform: rotateZ(90deg);
        &:after {
          content: '';
          height: 2px;
          width: 230px;
          position: absolute;
          right: -310px;
          top: 45%;
          background: #f26532;
        }
      }
      .bg-headline {
        position: absolute;
        top: 15px;
        left: 380px;
        width: 145px;
        font-size: 180px;
        font-weight: 500;
        color: #f6d3ca;
        transform: rotateZ(90deg);
      }
      .yellow_2 {
        position: absolute;
        top: 1135px;
        left: 1980px;
        width: 350px;
        height: 655px;
        background: #faa635;
      }
      .two_3 {
        position: absolute;
        top: 200px;
        right: 0;
      }
      .two_5 {
        position: absolute;
        top: 635px;
        left: 0;
      }
      .good {
        position: absolute;
        top: 510px;
        left: 285px;
        width: 35px;
        height: 160px;
        color: #f26532;
        font-size: 36px;
        span {
          line-height: 40px;
        }
      }
    }
  }
  .content {

    .spotting {

      .describe {
        width: 1010px;
        position: absolute;
        top: 358px;
        left: 575px;

        h2 {
          font-size: 42px;
          color: #f26532;
          float: right;
          margin-bottom: 30px;
        }
        p {
          font-size: 20px;
          color: #58585a;
          float: right;
          line-height: 36px;
        }
      }
      .more {
        position: absolute;
        top: 875px;
        left: 1530px;
        background: #f26532;
      }
    }
  }
}

.section4 {
  height: 1300px;

  .lump {

    .spotting {

      .headline {
        position: absolute;
        top: 135px;
        left: 280px;
        width: 40px;
        font-size: 50px;
        font-weight: 500;
        color: #f26532;
        transform: rotateZ(90deg);
        &:after {
          content: '';
          height: 2px;
          width: 230px;
          position: absolute;
          right: -310px;
          top: 45%;
          background: #f26532;
        }
      }
      .bg-headline {
        position: absolute;
        top: 15px;
        left: 380px;
        width: 145px;
        font-size: 180px;
        font-weight: 500;
        color: #f6d3ca;
        transform: rotateZ(90deg);
      }
      .good {
        position: absolute;
        top: 510px;
        left: 285px;
        width: 35px;
        height: 160px;
        color: #f26532;
        font-size: 36px;
        span {
          line-height: 40px;
        }
      }
    }
  }
  .content {

    .spotting {

      .ld {
        top: 540px;
        left: 380px;
        background: #faa635;
        padding-top: 160px;
      }
      .sn {
        top: 55px;
        left: 760px;
        background: #58585a;
        padding-top: 160px;
      }
      .ss {
        top: 390px;
        left: 1200px;
        background: #faa635;
        padding-top: 160px;
      }
      .sy {
        top: 780px;
        left: 840px;
        background: #f26532;
        padding-top: 160px;
      }
      .dc {
        top: 1005px;
        left: 1355px;
        background: #58585a;
        padding-top: 160px;
      }
      .wh {
        top: 175px;
        left: 1612px;
        background: #f26532;
        padding-top: 160px;
      }
      .kj {
        top: 800px;
        left: 1770px;
        background: #f26532;
      }


      .ll {
        width: 309px;
        height: 518px;
        position: absolute;
        text-align: center;
        cursor: pointer!important;
        img {
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
          animation-duration: 1s;
          animation-fill-mode: both;
        }
        h3 {
          color: #fff;
          font-size: 26px;
          margin-bottom: 85px;
          letter-spacing: 4px;
        }
        span {
          position: absolute;
          bottom: 18px;
          right: 40px;
          color: rgba(255, 255, 255, 0.5);
          transform-origin: right bottom;
          transform: rotateZ(90deg);
        }

        &:hover img {
          -webkit-animation-name: bounce;
          animation-name: bounce;
        }
      }
    }
  }
}

.section5 {
  height: 1370px;

  .lump {
    background: url(../images/liandian_38.png) no-repeat 90% 40%;
    background-size: 75%;

    .spotting {

      .headline {
        position: absolute;
        top: 135px;
        left: 280px;
        width: 40px;
        font-size: 50px;
        font-weight: 500;
        color: #f26532;
        transform: rotateZ(90deg);
        &:after {
          content: '';
          height: 2px;
          width: 230px;
          position: absolute;
          right: -310px;
          top: 45%;
          background: #f26532;
        }
      }
      .bg-headline {
        position: absolute;
        top: 15px;
        left: 380px;
        width: 145px;
        font-size: 180px;
        font-weight: 500;
        color: #f6d3ca;
        transform: rotateZ(90deg);
      }
      .good {
        position: absolute;
        top: 510px;
        left: 285px;
        width: 35px;
        height: 160px;
        color: #f26532;
        font-size: 36px;
        span {
          line-height: 40px;
        }
      }
    }
  }
  .content {

    .spotting {

      .gc {
        position: absolute;
        top: 515px;
        left: 435px;
        width: 370px;
        height: 680px;

        .ghch {
          span {
            color: #58585a;
            padding-left: 15px;
            font-size: 18px;
          }
          h3 {
            color: #f26532;
            font-size: 46px;
            position: relative;
            margin-top: 20px;
            padding-left: 10px;

            &:after {
              content: '';
              height: 2px;
              width: 123px;
              background: #f26532;
              position: absolute;
              top: 50%;
              right: 0;
            }
          }
          img {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .more {
          position: absolute;
          top: 235px;
          left: -20px;
          background: #f26532;
        }
      }
      .ss {
        position: absolute;
        top: 595px;
        left: 875px;
        width: 370px;
        height: 680px;

        .sdsj {
          span {
            color: #58585a;
            padding-left: 15px;
            font-size: 18px;
          }
          h3 {
            color: #faa635;
            font-size: 46px;
            position: relative;
            margin-top: 20px;
            padding-left: 10px;

            &:after {
              content: '';
              height: 2px;
              width: 123px;
              background: #faa635;
              position: absolute;
              top: 50%;
              right: 0;
            }
          }
          img {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .more {
          position: absolute;
          top: 235px;
          left: -20px;
          background: #faa635;
        }
      }
      .bg {
        position: absolute;
        top: 515px;
        left: 1320px;
        width: 370px;
        height: 680px;

        .bzgc {
          span {
            color: #58585a;
            padding-left: 15px;
            font-size: 18px;
          }
          h3 {
            color: #f26532;
            font-size: 46px;
            position: relative;
            margin-top: 20px;
            padding-left: 10px;

            &:after {
              content: '';
              height: 2px;
              width: 123px;
              background: #f26532;
              position: absolute;
              top: 50%;
              right: 0;
            }
          }
          img {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .more {
          position: absolute;
          top: 235px;
          left: -20px;
          background: #f26532;
        }
      }
      .ck {
        position: absolute;
        top: 595px;
        left: 1760px;
        width: 370px;
        height: 680px;

        .cykj {
          span {
            color: #58585a;
            padding-left: 15px;
            font-size: 18px;
          }
          h3 {
            color: #faa635;
            font-size: 46px;
            position: relative;
            margin-top: 20px;
            padding-left: 10px;

            &:after {
              content: '';
              height: 2px;
              width: 63px;
              background: #faa635;
              position: absolute;
              top: 50%;
              right: 0;
            }
          }
          img {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .more {
          position: absolute;
          top: 235px;
          left: -20px;
          background: #faa635;
        }
      }
    }
  }
}

footer {
  height: 100px;
  color: #fff;
  position: relative;
  background: #f26532;
  line-height: 100px;

  img {
    padding-left: 80px;
  }

  p {
    display: inline-block;
    float: right;
    padding-right: 80px;
  }
}


@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
